body {
  font-family: helvetica;
  background-color: #d4d6d8;
  margin: 20px;
}

h1 {
  line-height: 120%;
}

h3 {
  text-align: center;
}

li {
  line-height: 1.5;
}

p {
  padding: 8px;
  margin: 8px
  font-size: 16px;
}

#intro-photo {
  border: 3px solid;
  border-color: #48617a;
  border-width: large;
  max-width: 200px;
  max-height: 200px;
  margin: 40px:
  float:center;
}

.jumbotron {
  text-align: center;
  background-color: #abb8c6;
  padding: 20px;
  font-weight: 800;
  border: solid grey 5px;
}

.emphasis {
  color: #608e5b;
}

.col-md-3 {
  font-family: gill sans;
}

.col-md-3 h4 {
  font-weight: 600;
  background-color: white;
  text-align: center;
}
