body {
  font-family: helvetica;
  background-color: #d4d6d8;
  margin: 20px;
}

.jumbotron {
  text-align: center;
  background-color: #abb8c6;
  padding: 20px;
  font-weight: 800;
  border: solid grey 5px;
}

h3 {
  text-align: center;
}

#intro-photo {
  border: solid;
  border-color: #48617a;
  border-width: large;
  max-width: 200px;
  max-height: 200px;
  margin: 40px:
  align-content: center;
}

ul {
  line-height: 1.5;
  background-color: light grey;
}

p {
  padding: 8px;
  margin: 8px;
}

.indent {
  text-indent: 6%;
}

.col-md-3 {
  font-family: gill sans;
}

p {
  font-size: 16px;
}

.panel {
  width: 300px;
  height: 100px;
  align-items: center;
}
